
 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top ">



        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->


        <nav class="navbar navbar-expand-lg bg-lightdark p-3">
          <div class="container-fluid">
            <h1 class="logo me-auto me-lg-0"><a href="index.html">EDU Udacity</a></h1>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
              <ul class="navbar-nav mx-auto my-auto">
                <li class="nav-item">
                  <a class="nav-link text-light active" aria-current="page" [routerLink]="['/']">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light"  [routerLink]="['/aboutus']">About</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link text-light" [routerLink]="['/contactus']">contact Us</a>
                </li>

                <li class="nav-item dropdown ">
                  <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Take Exame
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Exame 1</a></li>
                    <li><a class="dropdown-item" href="#">Exame 2</a></li>
                    <li><a class="dropdown-item" href="#">Exame 3</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li><a href="#about" class="get-started-btn scrollto">Login</a></li>
                <li><a href="#about" class="get-started-btn scrollto">LogOut</a></li>
              </ul>
            </div>
          </div>

        </nav>



</header><!-- End Header -->

